.email-container {
    position: fixed;
    right: 40px;
    bottom: 5%;
    flex-direction: column;
    gap: 24px;
    padding: 16px 8px;
    border-radius: 16px;
    z-index: 1000;
}

.email-container a {
    color: #a8b2d1; 
    font-size: 1.5vh;
    transition: color 0.2s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: Impact;
    font-weight: 1000;
}

.email-container a:hover {
    color: #64ffda;
    transform: scale(1.05);
}