.email-container {
    position: fixed;
    right: 0px;
    bottom: 18%;
    flex-direction: column;
    border-radius: 16px;
    z-index: 1000;
}

.email-container a {
    color: #a8b2d1; 
    font-size: 1.5vh;
    transition: color 0.2s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: monospace;
    font-weight: 100;
    rotate: 90deg;
}

.email-container a:hover {
    color: #64ffda;
    transform: scale(1.05);
}